{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
    <script src="/static/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        (function() {
            var editor = ace.edit("g-template-editor");
            editor.setFontSize(15);
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/html");

            editor.on("change", function(e) {
                document.querySelector('textarea:read-only').value = editor.getValue();
            });
        })();
    </script>

    {{ block.super }}
{% endblock %}
