    {% load static from staticfiles %}
    <script src="{% static 'js/ace-min-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        (function() {
            var editor = ace.edit("g-editor");
            editor.setFontSize(15);
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/markdown");
            editor.on("change", function(e) {
                document.querySelector('textarea:read-only').value = editor.getValue();
            });
            // Ctrl+S
            document.addEventListener("keydown", function(e) {
              if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                document.querySelector('input[name="_continue"]').click();
              }
            }, false);
        })();
    </script>
